
.dark{
    --bg: hsl(230, 17%, 14%);
    --bg-top: hsl(232, 19%, 15%);
    --bg-card: hsl(228, 28%, 20%);
    --subtext: hsl(228, 34%, 66%);
    --header-text: hsl(0, 0%, 100%);
    --hover:#3a3458;
    --toggler:linear-gradient(to right, rgb(253, 250, 34) , hsl(0, 1%, 43%));
    }
    .light{
    --bg: hsl(0, 0%, 100%);
    --bg-top:hsl(225, 100%, 98%);
    --bg-card:hsl(227, 47%, 96%);
    --subtext:hsl(228, 12%, 44%);
    --header-text:hsl(230, 17%, 14%);
    --hover:#e0ddee;
    --toggler:unset;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family: "Inter",sans-serif;
        background-color: var(--bg) !important;
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width:100%;
    }
    .container1{
    width:100%;
    }
    header section:first-child{
        display: flex;
        justify-content:space-between;
        margin-bottom: 10px;
    }
    .header-headline .header-headline-1{
        font-weight: 700;
        font-size: 22px;
        padding-left:20px;
        color: var(--header-text);
    }
    .header-toggler{
        display: flex;
        justify-content:space-between;
        align-items:center;
        color:var(--header-text);
    }
    .toggler{
        width:45px;
        min-width: 45px;
        height: 24px;
        margin-left:10px;
        margin-right: 20px;
        background: hsl(230,22%,74%);
        border-radius: 20px;
        cursor:pointer;
        background-image: var(--toggler);
    }
    .toggler-circle{
        margin: 2px 2px;
        width:20px;
        height: 20px;
        border-radius: 20px;
        background-color: var(--bg);
        transition: 0.3s;
    }
    img{
        height:50px;
        width:50px;
        background-color: white;
    }
    .bg-yellow{
        background-color:  rgb(253, 250, 34);
    }
    footer{
        margin-top:80%;
        text-align: center;
        width: 100%;
        background-color: rgb(253, 250, 34);
        font-weight: 600;
    }
    /*navbar styling*/

.navbar-brand{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-brand{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
.navbar .navbar-nav .nav-link {
    font-size: 1.2rem;
    color: rgba(39, 37, 37, 0.712);
}
.navbar .navbar-nav .nav-link:hover {
    color: rgba(26, 25, 25, 0.932);
}

.navbar-nav .nav-link,
.navbar-brand {
  text-align: center;

}
.nav-item{
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

.nav-link{
    display: flex;
    justify-content: center;
}
@media (min-width: 768px) {
    .navbar-brand{
        font-size: 1.5rem;
        color: rgba(243, 240, 240, 0.5);
        text-transform: uppercase;
        font-weight: bold;
    }
    .navbar .navbar-nav {
        margin: 0 auto;
    }

    .navbar .navbar-collapse {
        justify-content: center;
    }

}
.dropdown-menu a{
    background: rgb(221, 215, 215);
}
.dropdown-menu a:nth-child(2n){
    background:#fdfafa;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}

@media (max-width: 600px)
{
    .navbar1{
        font-size:12px;
    }
    img{
        height:30px;
        width:30px;
        background-color: white;
    }
    .carousel-indicators {
        bottom: -190px;
    }
      
}
.carousel {
    width:100%;
    height:360px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators {
    position: sticky;
    bottom: -500px;
}
